<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ManualUsername" value="false" />
	</appSettings>
	<system.serviceModel>
		<bindings>
			<wsDualHttpBinding>
				<binding name="WSDualHttpBinding_ICommandService" closeTimeout="00:00:10" openTimeout="00:00:10" receiveTimeout="00:00:10" sendTimeout="00:00:10"
						  maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" >
					<readerQuotas maxDepth="32" maxBytesPerRead="200000000" maxArrayLength="200000000" maxStringContentLength="200000000" />
				</binding>				
			</wsDualHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://192.168.1.102:8080"
				binding="wsDualHttpBinding"
				bindingConfiguration="WSDualHttpBinding_ICommandService" 
				contract="XpTestBuilder.Common.ICommandService"
				name="CommandService">
			</endpoint>
		</client>
	</system.serviceModel>
</configuration>