<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <appSettings>
    <add key="SourcesFolders" value="[{&quot;Name&quot;: &quot;Crm&quot;, &quot;Path&quot;: &quot;C:\\Galaxy_33\\CrmNet\\Baseline\\Sources&quot;},{&quot;Name&quot;: &quot;Glx&quot;, &quot;Path&quot;: &quot;C:\\Galaxy_33\\Glx\\BaseLine\\Sources&quot;}]"/>
    <add key="ServerName" value="XPTest0533 (33)"/>
    <add key="TfsUrl" value="http://slgtfs-as:8080"/>
    <add key="TfsWorkSpace" value="XPTEST0533"/>
    <add key="TfsProjectPaths" value="[&quot;$/PRD.CrmNet/Releases/gv33_2030&quot;,&quot;$/PRD.Glx/Releases/gv33_2030&quot;]"/>
    <add key="OutputDebugFolder" value="C:\\Galaxy_33\\Glx\\Baseline\\Sources\\Output\\Debug"/>
    <add key="PatchesFolder" value="C:\\Galaxy_33\\Patches_33"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <wsDualHttpBinding>
        <binding name="myDualHttpBinding" closeTimeout="01:00:00" openTimeout="01:00:00" receiveTimeout="01:00:00" sendTimeout="01:00:00" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxBytesPerRead="200000000" maxArrayLength="200000000" maxStringContentLength="200000000"/>
        </binding>
      </wsDualHttpBinding>
    </bindings>
    <services>
      <service name="XpTestBuilder.Server.CommandService" behaviorConfiguration="defBehavior">
        <endpoint address="" binding="wsDualHttpBinding" bindingConfiguration="myDualHttpBinding" contract="XpTestBuilder.Common.ICommandService">
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://0.0.0.0:8070"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="defBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <!--<serviceDebug includeExceptionDetailInFaults="true" />-->
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
