<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
	</startup>
	<appSettings>
		<!--<add key="SourcesFolder" value="C:\Users\darth\source" />-->
		<add key="SourcesFolder" value="D:\Visual Studio 2013\Projects\Utilities" />
		<add key="ServerName" value="XPTest0480 (34)" />
	</appSettings>
	<system.serviceModel>
		<bindings>
			<wsDualHttpBinding>
				<binding name="myDualHttpBinding" closeTimeout="01:00:00" openTimeout="01:00:00" receiveTimeout="01:00:00" sendTimeout="01:00:00"
						  maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" >
					<readerQuotas maxDepth="32" maxBytesPerRead="200000000"
					 maxArrayLength="200000000" maxStringContentLength="200000000" />
				</binding>
			</wsDualHttpBinding>
		</bindings>
		<services>
			<service name="XpTestBuilder.Server.CommandService" behaviorConfiguration="defBehavior">
				<endpoint address="" binding="wsDualHttpBinding" bindingConfiguration="myDualHttpBinding" contract="XpTestBuilder.Common.ICommandService"></endpoint>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
				<host>
					<baseAddresses>
						<add baseAddress="http://0.0.0.0:8080"/>
					</baseAddresses>
				</host>
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="defBehavior">
					<serviceMetadata httpGetEnabled="true"/>
					<!--<serviceDebug includeExceptionDetailInFaults="true" />-->
				</behavior>
			</serviceBehaviors>
		</behaviors>		
	</system.serviceModel>
</configuration>
